{% extends 'base.html' %}

{% block body %}
    

    
            

            <div class="container m-auto">
              <div class="col-md-8 mb30">
                <div class="card">
                    
                <!--<h1 class="lg:text-2xl text-lg font-extrabold leading-none text-gray-900 tracking-tight mb-5"> Feed </h1>--->

                <div class="d-xl-inline-flex">

                    <!-- left sidebar-->
                    <div class="space-y-5 flex-shrink-0 lg:w-7/12">

                        <!-- post 1-->
                        
                        
                            
                        {% for post in posts  %}
			  
<div class="row">
  <div class="col-md-12 grid-margin">
    <div class="card rounded">
      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <img class="img-xs rounded-circle" src="{{post.profileimg.url}}" alt="">
            <div class="ml-2">
                <a href="/profile/{{post.user}}">
              <p>@{{post.user}}</p></a>
              <p class="text-muted">{{post.created_at}}</p>
            </div>
          </div>
          
        </div>
      </div>
      <div class="card-body">
        <p class="mb-3 tx-14">{{post.caption}}</p>
        <img class="img-fluid" src="{{post.image.url}}" alt="">
      </div>
      <div class="card-footer">
        <div class="d-flex post-actions">
            <a href="like?post_id={{post.id}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart icon-md">
              <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
            </svg></a>
            {% if post.no_of_like == 0 %}
              <p>no likes</p> 
              {% elif post.no_of_like == 1 %}
              <p>liked by {{post.no_of_like}} person</p>
              {% else %}
              <p> liked by {{post.no_of_like}} people</p>
              {% endif %}
                
        <div>
          <a href="{{post.image.url}}" class="" style=" align-self: flex-end;margin: 40px;" download>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="25" height="25" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><g fill="currentColor"><path d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v6h-2a.5.5 0 0 0-.354.854l2.5 2.5a.5.5 0 0 0 .708 0l2.5-2.5A.5.5 0 0 0 10.5 7.5h-2v-6z"/></g></svg>
            
        </a>
         
    </div>
        
      </div>
    </div>
  </div>
  
</div>
</div>
</div>

</div>
{% endfor %}
{% comment %} 
{% endfor %}
                    <div class="lg:w-5/12">

                        <div class="bg-white  shadow-md rounded-md overflow-hidden">

                            <div class="bg-gray-50  border-b border-gray-100 flex items-baseline justify-between py-4 px-6 ">
                                <h2 class="font-semibold text-lg">Users You Can Follow</h2>
                                <a href="/"> Refresh</a>
                            </div>
                           
                            <div class="divide-gray-300 divide-gray-50 divide-opacity-50 divide-y px-4 ">
                               
                               
                                
                               
                                
                                <div class="flex items-center justify-between py-3">
                                    <div class="flex flex-1 items-center space-x-4">
                                        <a href="profile.html">
                                            <img src="{{suggestion.profileimg.url}}" class="bg-gray-200 rounded-full w-10 h-10">
                                        </a>
                                        <div class="flex flex-col">
                                            <span class="block capitalize font-semibold"> {{suggestion.user.username}} </span>
                                            <span class="block capitalize text-sm"> {{suggestion.bio}}</span>
                                        </div>
                                    </div>
                                    
                                    <a href="/profile/{{suggestion.user.username}}" class="border border-gray-200 font-semibold px-4 py-1 rounded-full hover:bg-pink-600 hover:text-white hover:border-pink-600 "> View User </a>
                                </div>
                             
                               
                                {% endfor %}

                            </div>

                        </div>

                      

                    </div>

                </div>                {% endcomment %}
              


                        

                      </div>

                    </div>
                   
                  </div>
                </div>

            </div>
            

        </div>

    </div>








    {% endblock  %}